
<!-- Daniel Garson
    Due: 4/27/18
    CIS 237->

@{
    ViewBag.Title = "Contact Us";
}

<!-- inline styles center text of title and make the color red-->
<h2 style="text-align:center; color: red;">@ViewBag.Title.</h2>

<!-- inline styles center text of title and displays address-->
<address style="text-align:center;">
    One two three street<br />
    Kalamazoo, MI 49001-49048<br />
    <!-- clickable phone number-->
    <p title="Phone">Phone: <a href="tel:000-867-5309">(000)-867-5309</a></p>
    
</address>

<!-- inline styles center text of title and displays address-->
<address style="text-align:center;">
    <strong>Support:</strong>   <a href="mailto:dgarson3196@mail.kvcc.edu">dgarson3196@mail.kvcc.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:dgarson3196@mail.kvcc.edu">dgarson3196@mail.kvcc.edu</a>
</address>