<!-- Daniel Garson
    Due: 4/27/18
    CIS 237-->


@{
    ViewBag.Title = "Home Page";
}





 <div class="jumbotron">

    <!-- inline styles center text of title and makes the color indigo-->
     <h1 style="color:indigo; text-align:center">Assignment #6</h1>
    
    <p class="lead">This assignment uses ASP.NET MVC to manage the beverage database. 
    Along with using HTML and CSS to manage elements on the different pages</p>

    <br />
    <p style="font-size:20px; text-align:center;">Bellow are links to different information about microsoft products including libraries and 
    web hosting</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="background-color:DodgerBlue;">Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="background-color:DodgerBlue;">Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="background-color:DodgerBlue;">Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


 
